Repository A2AReg/a2a-registry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @a2aproject/maintainers, @a2aproject/core-team, @a2aproject/security-team, @a2aproject/docs-team, @a2aproject/devops-team

.github/CODEOWNERS:

# Global code owners
* @a2aproject/maintainers

# Core application files
/app/ @a2aproject/core-team
/app/main.py @a2aproject/core-team
/app/config.py @a2aproject/core-team

# Security-related files
/app/core/security.py @a2aproject/security-team
/app/auth.py @a2aproject/security-team
SECURITY.md @a2aproject/security-team

# Documentation
README.md @a2aproject/docs-team
PRODUCTION.md @a2aproject/docs-team
CONTRIBUTING.md @a2aproject/docs-team
CHANGELOG.md @a2aproject/docs-team

# CI/CD and deployment
.github/ @a2aproject/devops-team
docker-compose*.yml @a2aproject/devops-team
Dockerfile* @a2aproject/devops-team
scripts/ @a2aproject/devops-team

# Database migrations
alembic/ @a2aproject/core-team
/migrations/ @a2aproject/core-team

# Configuration files
requirements*.txt @a2aproject/core-team
pyproject.toml @a2aproject/core-team
alembic.ini @a2aproject/core-team

# Tests
tests/ @a2aproject/core-team

# License and legal
LICENSE @a2aproject/maintainers
CODE_OF_CONDUCT.md @a2aproject/maintainers

feat: add timeout and GitHub Container Registry publishing to CI
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

fix: Update GitHub Actions to latest versions to resolve deprecation warnings
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

fix: resolve line length issue in search_service.py
  app/services/search_service.py
Owners: @a2aproject/core-team

perf: optimize Docker build performance and increase timeout
  .github/workflows/ci.yml
  Dockerfile.prod
Owners: @a2aproject/devops-team

refactor: remove client functionality, simplify to agent-only registry
  app/api/agents.py
  app/api/clients.py
  app/api/health.py
  app/api/oauth.py
  app/api/stats.py
  app/api/well_known.py
  app/auth.py
  app/main.py
  app/models/__init__.py
  app/models/agent.py
  app/models/client.py
  app/schemas/__init__.py
  app/schemas/client.py
  app/services/agent_service.py
  app/services/client_service.py
Owners: @a2aproject/core-team, @a2aproject/security-team

fix: remove CUDA dependencies from production requirements
  requirements-prod.txt
Owners: @a2aproject/core-team

style: fix Black formatting in search_service.py
  app/services/search_service.py
Owners: @a2aproject/core-team

style: Format code with Black and isort to fix CI linting errors
  app/api/agents.py
  app/api/clients.py
  app/api/health.py
  app/api/oauth.py
  app/api/peering.py
  app/api/static.py
  app/api/stats.py
  app/api/well_known.py
  app/auth.py
  app/config.py
  app/core/__init__.py
  app/core/caching.py
  app/core/exceptions.py
  app/core/logging.py
  app/core/monitoring.py
  app/core/security.py
  app/database.py
  app/main.py
  app/models/__init__.py
  app/models/agent.py
  app/models/base.py
  app/models/client.py
  app/models/peering.py
  app/schemas/__init__.py
  app/schemas/agent.py
  app/schemas/client.py
  app/schemas/common.py
  app/schemas/peering.py
  app/services/__init__.py
  app/services/agent_service.py
  app/services/client_service.py
  app/services/peering_service.py
  app/services/search_service.py
  tests/test_agents.py
Owners: @a2aproject/core-team, @a2aproject/security-team

perf: optimize Docker cache export performance
  .github/workflows/ci.yml
  Dockerfile.prod
Owners: @a2aproject/devops-team

test fixed
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

test fixed
  app/api/well_known.py
  pytest.ini
  tests/test_agents.py
Owners: @a2aproject/core-team, @a2aproject/maintainers

Fix the CI
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

CI and linting
  .github/workflows/ci.yml
  requirements.txt
  tests/test_models.py
Owners: @a2aproject/devops-team, @a2aproject/core-team

CI and linting
  .github/workflows/ci.yml
  requirements.txt
  tests/test_models.py
Owners: @a2aproject/devops-team, @a2aproject/core-team

activate script
  activate_env.sh
  requirements.txt
Owners: @a2aproject/maintainers, @a2aproject/core-team

activate script
  activate_env.sh
  requirements.txt
Owners: @a2aproject/maintainers, @a2aproject/core-team

feat: Update AgentCardSpec to A2A Protocol specification compliance
  .gitignore
  app/schemas/agent_card_spec.py
  app/services/agent_service.py
  docs/AGENT_CARD_SCHEMA.md
  examples/configs/customer-support-agent.json
  examples/configs/enterprise-agent.json
  examples/configs/recipe-agent.json
  examples/configs/simple-chatbot.yaml
  tests/base_test.py
  tests/test_schemas.py
Owners: @a2aproject/maintainers, @a2aproject/core-team

style: Apply Black code formatting
  alembic/versions/001_core.py
  alembic/versions/002_user_auth.py
  app/schemas/agent_card_spec.py
  app/services/agent_service.py
  examples/api/agent_api_examples.py
  examples/api/auth_api_examples.py
  examples/api/run_all_examples.py
  examples/api/search_api_examples.py
  examples/api/well_known_api_examples.py
  examples/python/advanced_agent.py
  examples/python/basic_usage.py
  examples/python/publisher_example.py
  scripts/init_db.py
  sdk/python/a2a_sdk/client.py
  sdk/python/a2a_sdk/models.py
  sdk/python/a2a_sdk/publisher.py
  sdk/python/setup.py
  tests/base_test.py
  tests/test_schemas.py
  tools/a2a-publisher/main.py
  tools/a2a-publisher/setup.py
Owners: @a2aproject/core-team, @a2aproject/maintainers, @a2aproject/devops-team

Linting
  app/api/agents.py
  app/api/auth.py
  app/api/search.py
  app/api/well_known.py
  app/core/monitoring.py
  app/schemas/agent_card_spec.py
  app/schemas/auth.py
  app/security/__init__.py
  app/security/dependencies.py
  app/security/jwt.py
  app/security/router.py
  app/security/service.py
  app/services/agent_service.py
  app/services/auth_service.py
  app/services/card_service.py
  app/services/registry_service.py
  examples/api/agent_api_examples.py
  examples/api/auth_api_examples.py
  examples/api/run_all_examples.py
  examples/api/search_api_examples.py
  examples/api/well_known_api_examples.py
  examples/python/basic_usage.py
  examples/python/multi_tenant_visibility_example.py
  examples/python/publish_example.py
  examples/python/simple_visibility_example.py
  examples/python/visibility_concept_example.py
  pyproject.toml
  sdk/python/a2a_reg_sdk/__init__.py
  sdk/python/a2a_reg_sdk/client.py
  sdk/python/a2a_reg_sdk/models.py
  sdk/python/a2a_reg_sdk/publisher.py
  sdk/python/setup.py
  setup.cfg
  tests/base_test.py
  tests/test_auth_api.py
  tests/test_models.py
  tests/test_schemas.py
  tests/test_security.py
Owners: @a2aproject/core-team, @a2aproject/maintainers

fixes
  app/api/agents.py
  app/api/auth.py
  app/api/search.py
  app/api/well_known.py
  app/config.py
  app/core/__init__.py
  app/main.py
  app/security/__init__.py
  app/security/dependencies.py
  app/security/middleware.py
  app/security/passwords.py
  app/security/service.py
  app/services/auth_service.py
  tests/base_test.py
  tests/test_auth_jwks.py
Owners: @a2aproject/core-team

fixes
  app/api/agents.py
  app/api/auth.py
  app/api/search.py
  app/api/well_known.py
  app/config.py
  app/core/__init__.py
  app/main.py
  app/security/__init__.py
  app/security/dependencies.py
  app/security/middleware.py
  app/security/passwords.py
  app/security/service.py
  app/services/auth_service.py
  tests/base_test.py
  tests/test_auth_jwks.py
Owners: @a2aproject/core-team

Linting
  app/api/agents.py
  app/api/auth.py
  app/api/search.py
  app/api/well_known.py
  app/core/monitoring.py
  app/schemas/agent_card_spec.py
  app/schemas/auth.py
  app/security/__init__.py
  app/security/dependencies.py
  app/security/jwt.py
  app/security/router.py
  app/security/service.py
  app/services/agent_service.py
  app/services/auth_service.py
  app/services/card_service.py
  app/services/registry_service.py
  examples/api/agent_api_examples.py
  examples/api/auth_api_examples.py
  examples/api/run_all_examples.py
  examples/api/search_api_examples.py
  examples/api/well_known_api_examples.py
  examples/python/basic_usage.py
  examples/python/multi_tenant_visibility_example.py
  examples/python/publish_example.py
  examples/python/simple_visibility_example.py
  examples/python/visibility_concept_example.py
  pyproject.toml
  sdk/python/a2a_reg_sdk/__init__.py
  sdk/python/a2a_reg_sdk/client.py
  sdk/python/a2a_reg_sdk/models.py
  sdk/python/a2a_reg_sdk/publisher.py
  sdk/python/setup.py
  setup.cfg
  tests/base_test.py
  tests/test_auth_api.py
  tests/test_models.py
  tests/test_schemas.py
  tests/test_security.py
Owners: @a2aproject/core-team, @a2aproject/maintainers

SDK fixes
  INSTALLATION.md
  Makefile
  docs/AGENT_PUBLISHING.md
  docs/API_DOCUMENTATION.md
  docs/SDK_REFERENCE.md
  examples/python/basic_usage.py
  examples/python/sdk_demo.py
  sdk/python/README.md
Owners: @a2aproject/maintainers, @a2aproject/docs-team

fixes
  Makefile
  examples/python/sdk_demo.py
Owners: @a2aproject/maintainers

test: verify pre-commit hook works
  README.md
Owners: @a2aproject/docs-team

test: verify pre-commit hook still works
  README.md
Owners: @a2aproject/docs-team

pre-commit
  .pre-commit-config.yaml
  Makefile
  PRE_COMMIT_SETUP.md
Owners: @a2aproject/maintainers

pre-commit
  .pre-commit-config.yaml
  Makefile
  PRE_COMMIT_SETUP.md
Owners: @a2aproject/maintainers

SDK fixes
  INSTALLATION.md
  Makefile
  docs/AGENT_PUBLISHING.md
  docs/API_DOCUMENTATION.md
  docs/SDK_REFERENCE.md
  examples/python/basic_usage.py
  examples/python/sdk_demo.py
  sdk/python/README.md
Owners: @a2aproject/maintainers, @a2aproject/docs-team

test: verify pre-commit hook works
  README.md
Owners: @a2aproject/docs-team

test: verify pre-commit hook still works
  README.md
Owners: @a2aproject/docs-team

fixes
  Makefile
  examples/python/sdk_demo.py
Owners: @a2aproject/maintainers
