Repository A2AReg/a2a-registry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @a2aproject/maintainers, @a2aproject/core-team, @a2aproject/security-team, @a2aproject/docs-team, @a2aproject/devops-team

.github/CODEOWNERS:

# Global code owners
* @a2aproject/maintainers

# Core application files
/app/ @a2aproject/core-team
/app/main.py @a2aproject/core-team
/app/config.py @a2aproject/core-team

# Security-related files
/app/core/security.py @a2aproject/security-team
/app/auth.py @a2aproject/security-team
SECURITY.md @a2aproject/security-team

# Documentation
README.md @a2aproject/docs-team
PRODUCTION.md @a2aproject/docs-team
CONTRIBUTING.md @a2aproject/docs-team
CHANGELOG.md @a2aproject/docs-team

# CI/CD and deployment
.github/ @a2aproject/devops-team
docker-compose*.yml @a2aproject/devops-team
Dockerfile* @a2aproject/devops-team
scripts/ @a2aproject/devops-team

# Database migrations
alembic/ @a2aproject/core-team
/migrations/ @a2aproject/core-team

# Configuration files
requirements*.txt @a2aproject/core-team
pyproject.toml @a2aproject/core-team
alembic.ini @a2aproject/core-team

# Tests
tests/ @a2aproject/core-team

# License and legal
LICENSE @a2aproject/maintainers
CODE_OF_CONDUCT.md @a2aproject/maintainers

feat: Add Discord community link across documentation
  CONTRIBUTING.md
  README.md
  docs/AGENT_PUBLISHING.md
  docs/API_DOCUMENTATION.md
  docs/SDK_REFERENCE.md
  sdk/python/README.md
  tools/a2a-publisher/README.md
Owners: @a2aproject/docs-team, @a2aproject/maintainers

feat: Add Discord community link across documentation (#18)
  CONTRIBUTING.md
  README.md
  docs/AGENT_PUBLISHING.md
  docs/API_DOCUMENTATION.md
  docs/SDK_REFERENCE.md
  sdk/python/README.md
  tools/a2a-publisher/README.md
Owners: @a2aproject/docs-team, @a2aproject/maintainers

fix: Improve CI/CD pipeline reliability and test setup
  .github/workflows/ci.yml
  pytest.ini
  tests/test_agents.py
Owners: @a2aproject/devops-team, @a2aproject/maintainers, @a2aproject/core-team

fix: Update GitHub Actions to latest versions to resolve deprecation warnings
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

style: Format code with Black and isort to fix CI linting errors
  app/api/agents.py
  app/api/clients.py
  app/api/health.py
  app/api/oauth.py
  app/api/peering.py
  app/api/static.py
  app/api/stats.py
  app/api/well_known.py
  app/auth.py
  app/config.py
  app/core/__init__.py
  app/core/caching.py
  app/core/exceptions.py
  app/core/logging.py
  app/core/monitoring.py
  app/core/security.py
  app/database.py
  app/main.py
  app/models/__init__.py
  app/models/agent.py
  app/models/base.py
  app/models/client.py
  app/models/peering.py
  app/schemas/__init__.py
  app/schemas/agent.py
  app/schemas/client.py
  app/schemas/common.py
  app/schemas/peering.py
  app/services/__init__.py
  app/services/agent_service.py
  app/services/client_service.py
  app/services/peering_service.py
  app/services/search_service.py
  tests/test_agents.py
Owners: @a2aproject/core-team, @a2aproject/security-team

fix: Resolve flake8 linting errors and add configuration
  .flake8
  tests/test_agents.py
Owners: @a2aproject/maintainers, @a2aproject/core-team

fix: Resolve all flake8 linting errors
  .flake8
  app/api/agents.py
  app/api/clients.py
  app/api/static.py
  app/api/stats.py
  app/api/well_known.py
  app/auth.py
  app/config.py
  app/core/caching.py
  app/core/exceptions.py
  app/core/logging.py
  app/core/monitoring.py
  app/core/security.py
  app/main.py
  app/models/agent.py
  app/models/base.py
  app/models/client.py
  app/models/peering.py
  app/schemas/peering.py
  app/services/agent_service.py
  app/services/client_service.py
  app/services/peering_service.py
  app/services/search_service.py
Owners: @a2aproject/maintainers, @a2aproject/core-team, @a2aproject/security-team

fix: Sort imports in app/core/security.py
  app/core/security.py
Owners: @a2aproject/security-team

fix: Add mypy configuration and temporarily disable in CI
  .github/workflows/ci.yml
  mypy.ini
  requirements.txt
Owners: @a2aproject/devops-team, @a2aproject/maintainers, @a2aproject/core-team

test fixed
  app/api/well_known.py
  pytest.ini
  tests/test_agents.py
Owners: @a2aproject/core-team, @a2aproject/maintainers

test fixed
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

test fixed
  .github/workflows/ci.yml
  requirements.txt
  tests/test_agents.py
Owners: @a2aproject/devops-team, @a2aproject/core-team

test fixed
  requirements-dev.txt
  tests/conftest.py
Owners: @a2aproject/core-team

test fixed
  requirements-dev.txt
  requirements.txt
Owners: @a2aproject/core-team

test fixed
  alembic/env.py
  alembic/versions/001_initial_migration.py
  app/auth.py
  examples/python/advanced_agent.py
  examples/python/basic_usage.py
  examples/python/publisher_example.py
  requirements.txt
  scripts/init_db.py
  sdk/python/a2a_sdk/__init__.py
  sdk/python/a2a_sdk/client.py
  sdk/python/a2a_sdk/exceptions.py
  sdk/python/a2a_sdk/models.py
  sdk/python/a2a_sdk/publisher.py
  sdk/python/setup.py
  tests/conftest.py
  tools/a2a-publisher/main.py
  tools/a2a-publisher/setup.py
Owners: @a2aproject/core-team, @a2aproject/security-team, @a2aproject/maintainers, @a2aproject/devops-team

test fixed
  app/auth.py
  requirements-dev.txt
  tests/conftest.py
Owners: @a2aproject/security-team, @a2aproject/core-team

fix: explicitly specify isort and black configuration in CI workflow
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

fix: revert CI config changes and update isort version
  .github/workflows/ci.yml
  requirements-dev.txt
Owners: @a2aproject/devops-team, @a2aproject/core-team

fix: update Docker action versions to correct versions
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

test fixed
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

feat: add timeout and GitHub Container Registry publishing to CI
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

perf: optimize Docker build performance and increase timeout
  .github/workflows/ci.yml
  Dockerfile.prod
Owners: @a2aproject/devops-team

perf: optimize Docker cache export performance
  .github/workflows/ci.yml
  Dockerfile.prod
Owners: @a2aproject/devops-team

perf: remove CUDA dependencies to speed up CI builds
  app/services/search_service.py
  requirements-optional.txt
  requirements.txt
Owners: @a2aproject/core-team

style: fix Black formatting in search_service.py
  app/services/search_service.py
Owners: @a2aproject/core-team

fix: resolve line length issue in search_service.py
  app/services/search_service.py
Owners: @a2aproject/core-team

fix: resolve frontend build issues in Docker
  Dockerfile.prod
  frontend/tsconfig.json
  frontend/vite.config.ts
Owners: @a2aproject/devops-team, @a2aproject/maintainers

fix: resolve PATH warnings in Docker build
  Dockerfile.prod
Owners: @a2aproject/devops-team

fix: add Docker load flag to make image available for testing
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

fix: remove CUDA dependencies from production requirements
  requirements-prod.txt
Owners: @a2aproject/core-team

test fixed
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

fix: resolve line length issue in search_service.py
  app/services/search_service.py
Owners: @a2aproject/core-team

test fixed
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

fix: Improve CI/CD pipeline reliability and test setup
  .github/workflows/ci.yml
  pytest.ini
  tests/test_agents.py
Owners: @a2aproject/devops-team, @a2aproject/maintainers, @a2aproject/core-team

feat: add timeout and GitHub Container Registry publishing to CI
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

fix: Resolve flake8 linting errors and add configuration
  .flake8
  tests/test_agents.py
Owners: @a2aproject/maintainers, @a2aproject/core-team

fix: add Docker load flag to make image available for testing
  .github/workflows/ci.yml
Owners: @a2aproject/devops-team

test fixed
  alembic/env.py
  alembic/versions/001_initial_migration.py
  app/auth.py
  examples/python/advanced_agent.py
  examples/python/basic_usage.py
  examples/python/publisher_example.py
  requirements.txt
  scripts/init_db.py
  sdk/python/a2a_sdk/__init__.py
  sdk/python/a2a_sdk/client.py
  sdk/python/a2a_sdk/exceptions.py
  sdk/python/a2a_sdk/models.py
  sdk/python/a2a_sdk/publisher.py
  sdk/python/setup.py
  tests/conftest.py
  tools/a2a-publisher/main.py
  tools/a2a-publisher/setup.py
Owners: @a2aproject/core-team, @a2aproject/security-team, @a2aproject/maintainers, @a2aproject/devops-team

fix: revert CI config changes and update isort version
  .github/workflows/ci.yml
  requirements-dev.txt
Owners: @a2aproject/devops-team, @a2aproject/core-team

style: Format code with Black and isort to fix CI linting errors
  app/api/agents.py
  app/api/clients.py
  app/api/health.py
  app/api/oauth.py
  app/api/peering.py
  app/api/static.py
  app/api/stats.py
  app/api/well_known.py
  app/auth.py
  app/config.py
  app/core/__init__.py
  app/core/caching.py
  app/core/exceptions.py
  app/core/logging.py
  app/core/monitoring.py
  app/core/security.py
  app/database.py
  app/main.py
  app/models/__init__.py
  app/models/agent.py
  app/models/base.py
  app/models/client.py
  app/models/peering.py
  app/schemas/__init__.py
  app/schemas/agent.py
  app/schemas/client.py
  app/schemas/common.py
  app/schemas/peering.py
  app/services/__init__.py
  app/services/agent_service.py
  app/services/client_service.py
  app/services/peering_service.py
  app/services/search_service.py
  tests/test_agents.py
Owners: @a2aproject/core-team, @a2aproject/security-team
